---
import Layout from '@/layouts/BlogPost.astro';
const tags = ['astro', 'react', 'svelte', 'vue', 'web-components'];
const description = `
  <p class="text-left">
    Foto de <a
      href="https://unsplash.com/es/@francescobiancoo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Francesco Bianco</a
    > en <a
      class=" text-pgreen font-bold"
      href="https://unsplash.com/es/fotos/arte-mural-floral-dorado-y-azul-TVsgRyKJDc0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Unsplash</a
    >
  </p>
`;
---

<Layout
	tags={tags}
	icon="beach"
	title="About Me"
	description= 一隻魚游到暨南，變成暨魚
	pubDate={new Date('May 03 2025')}
	heroImage="/src/assets/fran.jpg"
> 
<link rel="stylesheet" href="/static/style/styles.css">

<!-- 個人簡介 -->
<div id="introduction" class="section">
	<h1>自我介紹 Introduction</h1>
	<p class="center-text">一隻魚游到暨南，變成暨魚</p>
	
	<div class="intro-container">
		<div class="image-cell">
			<img src="/static/image/leafish.png" alt="Leafish">
			<h3> 葉芷妤 </h3>
		</div>
		<div class="info-cell">
			
				<p>姓名 : 葉子魚 Leafish、暨魚</p>
				<p>生日: 2003.10.16 ⚖️</p>
				<p>出生: 新北市</p>
			
		</div>
	</div>
	<p class="description">原本都叫葉子魚，到了高中叫唧魚，因為化學老師都叫我ㄐㄧˋ魚，所以高三都叫ㄐㄧˋ魚，沒想到大學上了暨南，之後就直接變暨魚了。</p>
</div>

<!-- 學歷 -->

<div id="education" class="section">
	<h1>學歷 Education</h1>
	<p class="center-text">從平地到山上</p>
	<div class="education-container">
		<div class="education-item">
			<img src="/static/image/jmgsh.JPG" alt="高中" class="school-image">
		</div>
		<div class="school-info">
			<h3 class="school-name">景美女中</h3>
			<p>景美裡面有個景塘，原本我都住那裡。</p>
		</div>
	</div>
	<div class="education-container">
		<div class="education-item">
			<img src="/static/image/ncnu.jpg" alt="大學" class="school-image">
		</div>
		<div class="school-info">
			<h3 class="school-name">暨南大學</h3>
			<p>暨南在埔里，埔里景點日月潭，日月潭變成我現在的家。</p>
		</div>
	</div> 
	
</div>


<!-- 興趣 -->
<div id="hobby" class="section">
	<h1>興趣 Hobby</h1>
	<p class="center-text">其實最喜歡耍廢</p>
	<div class="hobby-container">
		<div class="hobby-card">
			<div class="hobby-image" style="background-image: url('/static/image/volleyball.jpg');"></div>
			<h3>排球</h3>
			<p>有事沒事晚上都會去打球</p>
		</div>
		<div class="hobby-card">
			<div class="hobby-image" style="background-image: url('/static/image/tabletennis.jpg');"></div>
			<h3>桌球</h3>
			<p>跟排球輪著打</p>
		</div>
		<div class="hobby-card">
			<div class="hobby-image" style="background-image: url('/static/image/draw.PNG');"></div>
			<h3>畫畫</h3>
			<p>上大學之後就好少畫畫了嗚嗚嗚</p>
		</div>
	</div>
</div>

<!-- 網站 -->
<div id="website" class="section">
	<h1>其他網站 Website</h1>
	<p class="center-text">來聯絡我</p>
	<div class="website-container">
		<div class="website-links">
			<a href="https://www.facebook.com/profile.php?id=100006357752629" target="_blank"><img class="website-image" src="/static/image/facebook.png" alt="facebook"></a>
			<p>都沒在發文</p>
		</div>
		<div class="website-links">
			<a href="https://www.instagram.com/yeh_chih_yu/" target="_blank"><img class="website-image" src="/static/image/instagram.png" alt="Instagram"></a>
			<p>主要活躍地</p>
		</div>
		<div class="website-links">
			<a href="https://www.instagram.com/leafish_painting/" target="_blank"><img class="website-image" src="/static/image/instagram.png" alt="Instagram"></a>
			<p>繪圖專用</p>
		</div>
		<div class="website-links">
			<a href="mailto:i@leafish.xyz" target="_blank"><img class="website-image" src="/static/image/gmail.png" alt="mail"></a>
			<p>可以寄信給我 &#129321</p>
			<p>i@leafish.xyz</p>
		</div>
	</div>

	
</div>


