---
import { getCollection } from "astro:content";

// 獲取所有分類的作品
const allCategories = await getCollection("gallery");

// 提取所有獨特的分類
const categories = [...new Set(allCategories.map(item => item.data.category))];

---

<main class="container mx-auto px-10 py-20">
  <h1 class="text-4xl font-bold">Gallery</h1>
  
  <div class="mt-8">
    <h2 class="text-3xl font-bold py-5">Categories</h2>
    <ul class="flex flex-wrap justify-start md:justify-center gap-8 py-1">
        {categories.map((category) => {
          return (
            <li class="" >
              <a
                href={`/gallery/${category}`}
                class="w-60 text-center rounded-3xl border-1 border-black shadow-card group hover:shadow-hover transition  px-4 py-3 flex flex-col gap-6"
              >
                {category}
              </a>
            </li>
          );
        })}
      </ul>
    
  </div>

</main>