
/* 圖片集布局 */
.gallery-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 定義為三欄布局，可根據需求調整 */
    gap: 15px;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
}

/* 各圖片的樣式 */
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

/* 自定義圖片格子的大小 */
.item1 {
    grid-column: span 2;
    grid-row: span 2;
}

.item8 {
    display: flex;
    justify-content: center; /* 垂直置中 */
    grid-column: span 2;
    grid-row: span 1;
}

.item2, .item3 {
    display: flex;
    justify-content: center; /* 垂直置中 */
    grid-column: span 1;
    grid-row: span 1;
}

.item4 {
    grid-column: span 2;
    grid-row: span 1.5;
}

.item5 {
    grid-column: span 2;
    grid-row: span 1.5;
}

.item6 {
    grid-column: span 2;
    grid-row: span 2;
}

.item7 {
    grid-column: span 2;
    grid-row: span 2;
}
